<!DOCTYPE html> <!--always here-->
<html><!--always here (main html)-->
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
</head>


<body>
  <p> whats appp {{mizHelper}} {{mizvartwo}}</p><!--symbols to implement var threw server.js.in this case inside object inside respone render-->


{{>footer}}<!--symbols to calling partial name footer in this case-->



</body>



</html>
